@font-face {
    src: url("../fonts/Arimo-Bold.ttf");
    font-family: Arimo-Bold;
}
@font-face {
    src: url("../fonts/Arimo-Regular.ttf");
    font-family: Arimo-Regular;
}
td{
    text-align: center;
}
.container{
    background-color:  #3A4965;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
}
.main-table{
    padding-top: 17px;
    margin:auto;
    border-spacing: 0;
}
.plans{
    padding: 55px 50px;
    background-color: white;
    font-family: Arimo-Bold;
    text-transform: uppercase;
    font-size: 18px;
    box-shadow: 1px 5px 4px rgba(0,0,0,0.5);
    color: #484848;
}
.plans-spart-text{
    padding-top: 10px;
    font-size: 30px;
}
.standard, .ultimate, .premium{
    padding: 26px 73px;
    color: white;
    font-family: Arimo-Bold;
    text-transform: uppercase;
    box-shadow: 1px 5px 4px rgba(0,0,0,0.5);
}
.standard{
    background-color:#89C331;
    font-size: 24px;
}
.ultimate{
    background-color:#F04A56;
    font-size: 30px;
    padding-right: 67px;
    padding-left: 67px;
}
.premium{
    background-color:#20807C;
    font-size: 24px;
    padding-left: 83px;
    padding-right: 83px;
}
.main-price{
    background-color: #FAFAFA;
    padding: 11px 33px;
    color: #484848;
    box-shadow: 1px 5px 4px rgba(0,0,0,0.5);
}
.price-fpart{
    font-family: Arimo-Bold;
    font-size: 60px;
    display: inline-block;
}
.price-sec-part{
    font-family: Arimo-Bold;
    font-size: 24px;
    display: inline-block;
}
.price-per-month{
    text-transform: uppercase;
    font-size: 18px;
    margin: 0;
}
.light{
    background-color: #F2F2F2;
}
.dark{
    background-color: #E3E3E3;
}
.light, .dark{
    color: #848484;
    text-transform: uppercase;
    height: 70px;
    font-family: Arimo-Regular;
    font-size: 20px;
    box-shadow: 1px 5px 4px rgba(0,0,0,0.5);
}
.option-text{
    padding-left: 9px;
    font-size: 16px;
    display: inline-block;
}
.option-text2{
    text-align: center;
    font-size: 16px;
}
.contact-us{
    background-color: #DDDDDD;
    box-shadow: 1px 5px 4px rgba(0,0,0,0.5);
}
.bbox1-3{
    background-color: #EEEEEE;
    box-shadow: 1px 5px 4px rgba(0,0,0,0.5);
}
.bbox2{
    background-color: #F4F4F4;
    box-shadow: 1px 5px 4px rgba(0,0,0,0.5);
}
.button-grey, .button-green, .button-red, .button-blue{
    display: block;
    border-radius: 7px;
    border: 0;
    margin: 30px auto;
    outline: 0;
}
.button-grey{
    background:linear-gradient(to bottom,#484848 85%, #404040 15%);
}
.button-green{
    background:linear-gradient(to bottom,#89C331 85%, #79B027 15%);
}
.button-red{
    background:linear-gradient(to bottom,#F04A56 85%, #DF3A46 15%);
}
.button-blue{

    background:linear-gradient(to bottom,#20807C 85%, #16736F 15%);
}
.text-contact-us, .text-buy{
    font-family: Arimo-Bold;
    color: #FFF;
    padding: 18px 65px;
    text-transform: uppercase;
    font-size: 16px;
}
.button-grey:hover {
    background: rgba(0,0,0,0.5);
    box-shadow: inset 0 0 0 3px #484848;
}
.button-green:hover{
    animation: bounce 1s;
}
.button-red:hover{
    animation: bounce 1s;
}
.button-blue:hover{
    animation: bounce 1s;
}
@keyframes bounce {
    0%, 20%, 60%, 100% {
        transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        transform: translateY(-20px);
        transform: translateY(-20px);
    }

    80% {
        transform: translateY(-10px);
        transform: translateY(-10px);
    }
}